@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=Salsa&display=swap');

$text-primary: #455759;
$text-default: #4b5e62;
$text-selected: #8fb6bf;
$text-correct: #74d66b;
$text-wrong: #db7777;
$input-bg: #cad9d8;
$button-primary: #d9c2ba;
$button-secondary: #b6a19a;

$salsa-font: "Salsa", cursive;
$marko-one-font: "Marko One", cursive;